figure {
	position:relative;
	max-width:1024px;
	max-width:64rem;
	width:100%;
	height:100%;
	background-color:#666;
}
figcaption {
	display:block;
	font-size:12px;
	font-size:0.75rem;
	color:#fff;
}
video {
	width:100%;
}

/* controls */
/* subtitles menu */
.subtitles-menu {
	display:none;
	position:absolute;
	bottom:14.8%;
	right:20px;
	background:#666;
	list-style-type:none;
	margin:0;
	padding:0;
	width:100px;
	padding:10px;
}
.subtitles-menu li {
	padding:0;
	text-align:center;
}
.subtitles-menu li button {
	border:none;
	background:#000;
	color:#fff;
	cursor:pointer;
	width:90%;
	padding:2px 5px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
}

/* WebVTT CHANGE THIS cues */
::cue {

    color: #fff;
    opacity: 1;
    font: 2em "Open Sans", sans-serif;
    line-height: 1em;
    background: #0095dd
}

/* fullscreen */
html:-ms-fullscreen {
	width:100%;
}
:-webkit-full-screen {
	background-color:transparent;
}
video:-webkit-full-screen + .controls {
	background:#ccc; /* required for Chrome which doesn't heed the transparent value set above */
}
video:-webkit-full-screen + .controls progress {
	margin-top:0.5rem;
}

/* hide controls on fullscreen with WebKit */
figure[data-fullscreen=true] video::-webkit-media-controls {
	display:none !important;
}
figure[data-fullscreen=true] {
	max-width:100%;
	width:100%;
	margin:0;
	padding:0;
	max-height:100%;
}
figure[data-fullscreen=true] video {
	height:auto;
}
figure[data-fullscreen=true] figcaption {
	display:none;
}
figure[data-fullscreen=true] .controls {
	position:absolute;
	bottom:2%;
	width:100%;
	z-index:2147483647;
}
figure[data-fullscreen=true] .controls li {
	width:5%;
}
figure[data-fullscreen=true] .controls .progress {
	width:68%;
}

/* Media Queries */
@media screen and (max-width:1024px) {
	figure {
		padding-left:0;
		padding-right:0;
		height:auto;
	}
	.controls {
		/* we want the buttons to be proportionally bigger, so give their parent a set height */
		height:30px;
		height:1.876rem;
	}
	.controls button[data-state="subtitles"] {
		font-size:0.6875rem;
	}
	.subtitles-menu {
		right:0;
	}
	.subtitles-menu li button {
		font-size:0.6875rem;
	}
}

@media screen and (max-width:42.5em) {
	.controls {
		height:auto;
	}
	.controls > * {
		display:block;
		width:14.5667%;
		margin-left:0;
		height:40px;
		height:2.5rem;
		margin-top:2.5rem;
	}
	.subtitles-menu {
	/*	bottom:42%;*/
	}
	figcaption {
		text-align:center;
		margin-top:0.5rem;
	}
}
